@charset "utf-8";
/* ==============================
* main
*===============================*/

#main #headerWrap {height:94px; background:none; transition:background .3s ease,top .3s ease;}
#main #headerWrap.on {background:rgba(33,32,30,0.95);}
#main #headerWrap h1 {width:213px; height:32px; margin-top: 46px; background:url('../images/common/main_logo.png') no-repeat;}
#main #headerWrap .gnb {margin-top:39px; margin-left:45px}
#main #headerWrap .gnb > ul > li {margin-right:33px;}
#main #headerWrap .gnb > ul > li > a {color:#fff; font-size:14px; line-height:55px;}
#main #headerWrap .gnb > ul > li > li > a.sp {color: #B99E6B;}
#main #headerWrap .topLink {position:absolute; top:0; right:64px; float:none; margin-right:0;}
#main #headerWrap .topLink .more li a {color: #fff;}
#main #headerWrap .topLink .more li a:hover {color: #9c836a;}
#main #headerWrap .bgDepth {top:94px; background: rgba(33,32,30,0.95);}

/*8.12*/